<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>

<body>

<div align="center">

    <form th:method="PATCH" th:action="@{/users/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">What is the name of user?: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>

        <label for="lastName">What is the lastname of the user?: </label>
        <input type="text" th:field="*{lastname}" id="lastName"/>
        <br/>

        <label for="age">How old is this user?: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>

        <input type="submit" value="Submit the update"/>
    </form>
</div>

</body>
</html>